html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* КНОПКА*/

body {
    font-family: 'Ubuntu condensed';
}

/*.vh-1 {*/
/*    height: 100vh;*/
/*}*/

.padding-1 {
    padding: 2em;
    box-sizing: border-box;
}

.flex-center-children {
@include display(flex);
@include flex-direction(column);
@include align-items(center);
@include justify-content(center);
@include perspective(1000px);
}

#sample-card {
@include transform(translateZ(-800px) scale(0.7));
}

.card {
@include display(flex);
@include align-items(center);
@include perspective(1000px);
    position: relative;
    box-shadow: 0 0 8px 0 #444;
    background-color: #36C;
    color: white;
    text-align: center;
    width: 100%;
    /*max-width: 350px;*/
    padding: 2em 3em;
    font-size: 1.2em;
    cursor: pointer;
}

.card:hover {
// box-shadow: 0 0 15px 0 rgba(black, 0.7);
}

.muddle {
    line-height: 1.4
}

.muddle-word {
    display: inline-block;
    opacity: 0;
    user-select: none;
}

.button {
@include position(absolute, 0 0 0 0);
@include display(flex);
@include align-items(center);
@include justify-content(center);
    font-size: 2.5em;
    z-index: 1;
    user-select: none;
}

.close-button {
@include position(absolute, 0 0 null null);
    opacity: 0;
    background-color: white;
    border-radius: 50%;
}

.muddle {
    opacity: 0;
}

/* Стилизация формы автроризации*/

/*
.wrapper {*/
/*    position: relative;*/
/*    height: 100vh;*/
/*}
*/

.login-form
{
    width: 450px;
    background: #f1f1f1;
    padding: 40px 80px 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form h1
{
    text-align: center;
    margin-bottom: 60px;
}

.txtb
{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input
{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.txtb span::before
{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.txtb span::after
{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 0;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: .5s;
}

.focus + span::before
{
    top: -5px;
}

.focus + span::after
{
    width: 100%;
}

.logbtn
{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #3498db, #8e44ad,#3498db);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.logbtn:hover
{
    background-position: right;
}

.bottom-text
{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}

.table-style {
    border-collapse: separate;
    border-spacing: 3px;
}
